# Python-specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# App-specific (Streamlit, Output)
.streamlit/
output/
**/.ipynb_checkpoints/
*.tmp
*.log

# Models & Artifacts
*.onnx
*.ort
*.keras
*.h5
*.hdf5
*.weights.h5
checkpoint
*.ckpt
*.ckpt.*
*.index
*.data-*

# Accelerator caches
*.engine
*.plan
trt_engine_cache/
tensorrt/

# Tools & IDEs
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.pyre/
.pytype/
.DS_Store
Thumbs.db
Desktop.ini
